# Dependencies
node_modules

# Build output
web/dist
web/dist-ssr

# Local env files
*.local
web/.env.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel

# Logs
*.log

# Xcode
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/.build/
ios/DerivedData/

# Supabase
supabase/.temp/
